<!--
  ~ Copyright 2020 Vipps
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~ documentation files (the "Software"), to deal in the Software without restriction, including without limitation
  ~ the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
  ~ and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
  ~ TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL
  ~ THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
  ~ CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  ~ IN THE SOFTWARE.
  -->
<!--@subject {{trans "Welcome to %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars { 
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var this.getUrl($store, 'vipps/login/index/')":"Vipps Login URL",
"var customer.email":"Customer Email", 
"var customer.name":"Customer Name" 
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>{{trans "Welcome to %store_name." store_name=$store.getFrontendName()}}</p>

<div class="login-vipps">
        {{trans 'You can sign in using'|raw}}
    <br>
    <form action="{{var this.getUrl($store, 'vipps/login/index/',[_nosid:1])}}" method="post" target="_blank" style="margin-top: 5px;">
        <button type="submit" class="action create primary vipps-btn">
            {{trans 'Sign in with'|raw}}
            <span class="icon-vipps"
                  style="background: url({{view url='Vipps_Login/images/vipps-white-logo.png'}}) left center no-repeat;">
            </span>
        </button>
    </form>
</div>
<br>
<p>
    {{trans "or log in to our site and set a password using this <a href='%create_password_url'>link</a>."
        create_password_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
    |raw}}
</p>

<ul>
    <li><strong>{{trans "Email:"}}</strong> {{var customer.email}}</li>
</ul>
<p>{{trans "When you sign in to your account, you will be able to:"}}</p>
<ul>
    <li>{{trans "Proceed through checkout faster"}}</li>
    <li>{{trans "Check the status of orders"}}</li>
    <li>{{trans "View past orders"}}</li>
    <li>{{trans "Store alternative addresses (for shipping to multiple family members and friends)"}}</li>
</ul>

{{template config_path="design/email/footer_template"}}
