<?xml version="1.0"?>
<!--
  ~ Copyright 2020 Vipps
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~ documentation files (the "Software"), to deal in the Software without restriction, including without limitation
  ~ the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
  ~ and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
  ~ TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL
  ~ THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
  ~ CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  ~ IN THE SOFTWARE.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vipps\Login\Api\Data\UserInfoInterface" type="Vipps\Login\Model\Data\UserInfo"/>

    <preference for="Vipps\Login\Api\VippsCustomerRepositoryInterface" type="Vipps\Login\Model\ResourceModel\VippsCustomerRepository"/>

    <preference for="Vipps\Login\Api\VippsCustomerAddressRepositoryInterface" type="Vipps\Login\Model\ResourceModel\VippsCustomerAddressRepository"/>

    <preference for="Vipps\Login\Api\VippsAccountManagementInterface" type="Vipps\Login\Model\VippsAccountManagement"/>

    <preference for="Vipps\Login\Api\VippsAddressManagementInterface" type="Vipps\Login\Model\VippsAddressManagement"/>

    <preference for="Vipps\Login\Api\Data\VippsCustomerInterface" type="Vipps\Login\Model\Data\VippsCustomer"/>

    <preference for="Vipps\Login\Api\Data\VippsCustomerAddressInterface" type="Vipps\Login\Model\Data\VippsCustomerAddress"/>

    <preference for="Vipps\Login\Api\Data\VippsCustomerSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <preference for="Vipps\Login\Api\Data\VippsCustomerAddressSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <preference for="Vipps\Login\Api\ApiEndpointsInterface" type="Vipps\Login\Model\ApiEndpoints" />

    <preference for="Vipps\Login\Model\ConfigInterface" type="Vipps\Login\Model\Config\Config"/>

    <!-- Defining Vipps_Login logger object to process logs into vipps_login files -->
    <virtualType name="Vipps\Login\Model\Logger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">vipps</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="error" xsi:type="object">Vipps\Login\Model\Logger\Handler\Error</item>
                <item name="debug" xsi:type="object">Vipps\Login\Model\Logger\Handler\Debug</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Customer\Api\AddressRepositoryInterface">
        <plugin name="Vipps\Login\Plugin\AddressSave" type="Vipps\Login\Plugin\AddressSave"/>
    </type>

    <type name="Vipps\Login\Plugin\AddressSave">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="logger" xsi:type="object">Vipps\Login\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Vipps\Login\Model\VippsAccountManagement">
        <arguments>
            <argument name="logger" xsi:type="object">Vipps\Login\Model\Logger</argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="vippsQuoteAddressSavePlugin" type="Vipps\Login\Plugin\Quote\CartSave" sortOrder="50"/>
    </type>

    <type name="Vipps\Login\Plugin\Quote\CartSave">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="logger" xsi:type="object">Vipps\Login\Model\Logger</argument>
        </arguments>
    </type>

</config>
