<?xml version="1.0"?>
<!--
  ~ Copyright 2020 Vipps
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~ documentation files (the "Software"), to deal in the Software without restriction, including without limitation
  ~ the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
  ~ and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
  ~ TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL
  ~ THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
  ~ CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  ~ IN THE SOFTWARE.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vipps" translate="label" sortOrder="205">
            <label>Vipps</label>
        </tab>
        <section id="vipps" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Login</label>
            <tab>vipps</tab>
            <resource>Vipps_Login::login</resource>
            <group id="vipps_login" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
                <field id="environment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Vipps\Login\Model\Adminhtml\Source\Environment</source_model>
                    <config_path>vipps/login/environment</config_path>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>vipps/login/debug</config_path>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable this Solution</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>vipps/login/enabled</config_path>
                    <requires>
                        <group id="vipps_required"/>
                    </requires>
                </field>
                <group id="vipps_required" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="5">
                    <field id="client_id" translate="label" type="obscure" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Client ID</label>
                        <config_path>vipps/login/client_id</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                    <field id="client_secret" translate="label" type="obscure" sortOrder="82" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Client Secret</label>
                        <config_path>vipps/login/client_secret</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
