.block-minicart .block-content > .actions .vipps-express-checkout {
    margin-top: 15px;
    text-align: center;
}

#product_addtocart_form .box-tocart .actions .vipps-express-checkout {
    display: inline-block;
}

.vipps-checkout svg {
    max-width: 100%;
    vertical-align: top;
    filter: drop-shadow( 0px 1px 2px #d7d7d7);
}

.vipps-checkout:hover svg {
    opacity: 0.9;
}